doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title #{myType} #{myTitle}
        meta(http-equiv='Content-Security-Policy' content="default-src 'none'; img-src " + panelWebviewCspSource + " https:; script-src 'nonce-" + nonce + "'; style-src 'unsafe-inline';")
    body
        div(id='divType' style='visibility: hidden;') #{myType}
        table(style='border: 1px solid black;')
            tr
                td #[b #{myType} #{myTitle}]
                    if !readOnly
                        td
                        td #[b Selected #{myTitle}]
            tr
                td
                    select(id='litems' name='litems' multiple='multiple' size='40' style='min-width: 600px;min-height: 800px;')
                        each item in items
                            option(value=item.path) #{item.name}
                if !readOnly
                    td
                        button(type='button' id='addButton') >
                        br
                        br
                        button(type='button' id='removeButton') <
                    td
                        select(id='ritems' name='ritems' multiple='multiple' size='40' style='min-width: 600px;min-height: 800px;')
            if !readOnly
                tr
                    td(colspan='3' align='right')
                        table(id='serverInfo')
                            tr(valign='top')
                                td
                                    table
                                        if showSourceServer
                                            tr
                                                td Source Tanium Server FQDN
                                                td 
                                                    div(id='divSourceFqdn')
                                        if showSourceCreds
                                            tr
                                                td Source Tanium Server Username
                                                td 
                                                    div(id='divSourceUsername')
                                            tr
                                                td Source Tanium Server Password
                                                td 
                                                    input(id='sourcePassword' type='password')
                                td
                                    if showDestServer || showSigningKeys
                                    table
                                        if showDestServer
                                            tr
                                                td Destination Tanium Server FQDN
                                                td
                                                    div(id='divDestFqdn')
                                            tr
                                                td Destination Tanium Server Username
                                                td
                                                    div(id='divDestUsername')
                                            tr
                                                td Destination Tanium Server Password
                                                td
                                                    input(id='destPassword' type='password')
                                        if showSigningKeys
                                            tr
                                                td Destination Tanium Server Signing Keys
                                                td
                                                    div(id='divSigningKey')
                                        if showDirectFileTransfer
                                            tr
                                                td Transfer Package Files Direct
                                                td
                                                    select(id='directFileTransfer')
                                                        option(value='Yes') Yes
                                                        option(value='No') No
            if !readOnly
                tr
                    td(colspan='3' align='right' )
                        button(id='processButton') Process #{myTitle}
        div(id='divFqdns' style='visibility: hidden;') #{fqdns}
        div(id='divUsernames' style='visibility: hidden;') #{usernames}
        div(id='divSigningKeys' style='visibility: hidden;') #{signingKeys}
        div(id='divTransferIndividual' style='visibility: hidden;') #{transferIndividual}
        div(id='divShowServerInfo' style='visibility: hidden;') #{showServerInfo}
        div(id='divOpenType' style='visibility: hidden;') #{openType}
        div(id='divMyType' style='visibility: hidden;') #{myType}
        script(nonce="" + nonce + "" src="" + scriptUri + "")
